@import "../variables/colors";

#app{

}

.footer{
    position: fixed;
    bottom:0px;
    background-color: #ffffff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
}